<app-header></app-header>
<br><br><br><br>
<app-search></app-search>
<br>
<app-tags></app-tags><br>
<div class="select" style="text-align: center;"><a routerLink="/filter" style="color:black;">Include or Exclude your Ingredients</a></div>
<br><br><br>
<app-not-found [visible]="!foods || !foods.length" resetLinkText="Reset Search" [resetLinkRoute]="notFoundRedirectUrl"> </app-not-found>

        <!-- Food -->
     <ul>
      <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
          <img [src]="food.imagePath" [alt]="food.name">
          <div class="content">
            <h5 class="name">
              {{food.name}}
            </h5>
            <br>
            <div class="row">
              <div class="col"><app-rating [stars]="food.stars"></app-rating></div>
            <div style="color: black;" class="col">{{food.cookTime}} minutes ⏰</div></div>
            <div class="calorieCount row" style="color:black;">
              🥠🥠{{food.calorieAmount}}
          </div>
    
            <br><br>
    
    
            <span *ngIf="food.favorite" class="heart-icon">&#10084;</span>
            <span *ngIf="!food.favorite" class="heart-icon" style="color: grey;">🖤</span>  
      
            <br>
            <app-rating [stars]="food.stars"></app-rating><br><br>
                <!-- <div class="stars">
              <star-rating [value]="food.stars"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="22px"
              [readonly]="true"></star-rating>
            </div> -->
          
          </div>

        </a>
      </li>
     </ul>
        

        

        <!-- comment section -->

<app-footer></app-footer>
