ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 24rem ;
    width: 23rem;
    /* border: 1px solid black; */
    border-radius: 1rem;
    margin:2rem 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);

    text-decoration: none;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li a img{
    object-fit: cover;
    height: 14.5rem;
}

.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}
.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color:grey;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.name {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart-icon {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(50%, -50%);
}

/* Style the entire row containing rating, cook time, and calorie amount */
.row-rating {
    display: flex;
    align-items: center; /* Vertically center items within the row */
    margin-top: 0.8rem; /* Adjust the margin as needed */
  }
  
  /* Style the rating component */
  .col-rating {
    flex: 1; /* Allow the rating to expand and take available space */
  }
  
  /* Style the cook time and calorie amount */
  .col-cook-time, .col-calorie-count {
    flex: 1; /* Allow both to expand and take available space */
    text-align: right; /* Right-align the content */
    color: black; /* Adjust the color as needed */
    font-weight: bold; /* Make the text bold */
  }
  
  .calorieCount {
    margin-top: 0.3rem; /* Adjust the margin as needed */
    color: black; /* Adjust the color as needed */
    text-align: left; /* Left-align the content */
  }
  