
.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10000;
    top: 0;
    left: 0;
}

.details{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;

}
img{
    border-bottom: 10px solid brown;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

h1{
    color: brown;
    text-transform: lowercase;
    margin-left: auto;
    margin-right: auto;
    display:block;
}