<app-header></app-header>

<div class="center">
  <div class="row">
    <div class="col custom-col">
      <input class="form-control" [(ngModel)]="includeIngredient" list="datalistOptionsInclude" id="ingredientInclude" placeholder="Ingredient to include...">
      <datalist id="datalistOptionsInclude">
        <!-- Add options for drink ingredients -->
        <option value="Ice">
        <option value="Lemon">
        <option value="Mint">
        <option value="Sugar">
      </datalist>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="includeCheckbox" id="includeCheckbox" name="includeCheckbox">
        <label class="form-check-label" for="includeCheckbox" style="color: white;">
          Include
        </label>
      </div>
    </div>
    <div class="col custom-col">
      <input class="form-control" [(ngModel)]="excludeIngredient" list="datalistOptionsExclude" id="ingredientExclude" placeholder="Ingredient to exclude...">
      <datalist id="datalistOptionsExclude">
        <!-- Add options for drink ingredients -->
        <option value="Alcohol">
        <option value="Caffeine">
        <option value="Soda">
        <option value="Sweeteners">
      </datalist>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="excludeCheckbox" id="excludeCheckbox" name="excludeCheckbox">
        <label class="form-check-label" for="excludeCheckbox" style="color: white;">
          Exclude
        </label>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light" (click)="searchRecipes()">Search</button>
    </div>
  </div>
</div>

<!-- Display Filtered Recipes Here -->
<div *ngIf="filteredDrinks.length > 0">
  <h3>Filtered Drinks</h3>
  <ul>
    <li *ngFor="let drink of filteredDrinks">
      <a routerLink="/drinks/{{drink.id}}">
        <!-- Add the appropriate properties for drink display -->
        <img [src]="drink.imagePath" [alt]="drink.name">
        <div class="content">
          <div class="name">
            {{drink.name}}
          </div>
          <br>
          <!-- You can display other drink information here -->
        </div>
      </a>
    </li>
  </ul>
</div>

<app-footer></app-footer>
