.form-control, .form-select, .card, .btn
{
    border-radius: 15px;
}
.card{
    border-style: solid;
    border-width: thin;
    border-color: #783030;
    box-shadow: 12px 12px 2px 1px #783030;
}
.form-control, .form-select
{
    background: white;
    color: black;
}
h1{
    margin-top: 0px;
}


.btn-success,
.btn-success:not(:disabled):not(.disabled) {
    background-color: #783030;
    border-color: #783030;
}



.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    box-shadow: 0 0 0 0.2rem rgba(120, 48, 48, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    background-color: #783030;
    border-color: #783030;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    background-color: #662a2a;
    border-color: #662a2a;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 48, 48, 0.5);
}
