<app-header></app-header>
uhhuhhhuuuurdkfsjfskjfkdsajkjksdflkajkfjsdkj
<h1>Calorie Calculator</h1>

<form (submit)="submitForm()" #myForm="ngForm">
    <label for="name"> Name :</label>
        <input type="text" name="name" [(ngModel)]="user.name" required #nameInput="ngModel">
        <span class="required-sign" *ngIf="nameInput.invalid">*</span>

    <label for="age">Age :</label>
        <input type="number" name="age" [(ngModel)]="user.age"> 
    
    <br>
    <label for="gender"> Gender :
        <input type="radio" value="male" name="gender" [(ngModel)]="user.gender"> male
        <input type="radio" value="female" name="gender" [(ngModel)]="user.gender"> female
    </label>
    <br>
    <label for="height">
        Height :<input type="number" name="height" [(ngModel)]="user.height">  
    </label>
    <br>
    <label for="weight">
        weight :<input type="number" name="weight" [(ngModel)]="user.weight">  
    </label>
    <br>
    <!-- <label for="activity"> Activity Value
        <select name="activity" id="">
            <option value="1">
                Moderate
            </option>
            <option value="2">

            </option>
        </select> -->

    <!-- </label> -->
    <label for="fat">BodyFat :</label>
    <input type="number" name="fat" [(ngModel)]="user.fat"> 

<br>


    <label for="">BMR estimation formula
        <input type="radio" name="formula" value="mifflin" [(ngModel)]="user.formula">Mifflin St Jeor
        <input type="radio" name="formula" value="revised" [(ngModel)]="user.formula"> Revised Harris-Benedict
        <input type="radio" name="formula" value="katch" [(ngModel)]="user.formula"> Katch-McArdle
    </label>
    <br>
    <input type="submit" value="Submit" [disabled]="!myForm.form.valid || user.age <= 0 || user.fat <= 0 || user.height <= 0 || user.weight <= 0">
</form>

<div *ngIf="showResults">
    <h2>Recommended Caloric Intake:</h2>
    <p>Maintain weight: {{ maintainCalories }} Calories/day</p>
    <p>Mild weight loss: {{ mildLossCalories }} Calories/day</p>
    <p>Weight loss: {{ weightLossCalories }} Calories/day</p>
    <p>Extreme weight loss: {{ extremeLossCalories }} Calories/day</p>
</div>
