<app-header></app-header>
<br><br>
<app-desserts-search></app-desserts-search>
<br>
<app-desserts-tags></app-desserts-tags><br>
<div class="select" style="text-align: center;"><a routerLink="/filter" style="color:black;">Include or Exclude your Ingredients</a></div>
<br><br><br>
        <!-- Food -->
     <ul>
      <li *ngFor="let dessert of desserts">
        <a routerLink="/desserts/{{dessert.id}}">
          <img [src]="dessert.imagePath" [alt]="dessert.name">
          <div class="content">
            <div class="name">
              {{dessert.name}}
            </div>
            <br>
            <app-rating [stars]="dessert.stars"></app-rating><br><br>


            <span class="favorite {{dessert.favorite?'':'not'}}">❤</span>
            <!-- <div class="stars">
              <star-rating [value]="food.stars"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="22px"
              [readonly]="true"></star-rating>
            </div> -->
          
          </div>

        </a>
      </li>
     </ul>
        

        

        <!-- comment section -->

<app-footer></app-footer>
