<app-header></app-header>
<br><br>
<app-drinks-search></app-drinks-search>
<br>
<app-drinks-tags></app-drinks-tags><br>
<div class="select" style="text-align: center;"><a routerLink="/filter" style="color:black;">Include or Exclude your Ingredients</a></div>
<br><br><br>
<!-- Drinks -->
<ul>
  <li *ngFor="let drink of drinks">
    <a routerLink="/drinks/{{drink.id}}">
      <img [src]="drink.imagePath" [alt]="drink.name">
      <div class="content">
        <div class="name">
          {{drink.name}}
        </div>
        <br>
        <app-rating [stars]="drink.stars"></app-rating><br><br>


        <span class="favorite {{drink.favorite?'':'not'}}">❤</span>
        <!-- <div class="stars">
          <star-rating [value]="food.stars"
          [totalstars]="5"
          checkedcolor="red"
          uncheckedcolor="black"
          size="22px"
          [readonly]="true"></star-rating>
        </div> -->
      
      </div>

    </a>
  </li>
 </ul>
    
<app-footer></app-footer>


