<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Signup page</title>
</head>
<body>


    <!----------------------- Main Container -------------------------->

     <div class="container col-md-8 d-flex justify-content-center align-items-center min-vh-100  style : 100vh custom-border">

    <!----------------------- Login Container -------------------------->

    <div class="box-area row border rounded-5 p-3 " style=" background-color: rgb(252, 246, 210);">


    <!--------------------------- Left Box ----------------------------->

       <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-right mx-2 my-3 flex-column left-box" >
           
            <img src="https://i.pinimg.com/originals/fa/73/79/fa7379fa7d5e9dea0ab4bf5f7d70beaa.jpg" class="img-fluid" style="height: 390px; width: 1000px;">
           
           
       </div> 

    <!-------------------- ------ Right Box ---------------------------->
        
       <div class="d-flex justify-content-center col-md-6 right-box mx-2 my-1"  style="background-color: rgb(252, 246, 210);" >
          <div class="row align-items-center">
                <div class="header-text mb-4">
                     <h2>Create Account</h2>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                </div>
                <div class="input-group mb-1">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    <br>
                </div>
                
                <div class="input-group mb-5 d-flex justify-content-between">
                    
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-primary custom-btn w-100 fs-6" type="submit" >Sign up</button>
                </div>

                <div class="row align-items-center">
                    <small>Already have an account? <a routerLink="/login">Log in</a></small>
                </div>
          </div>
       </div> 
      </div>
    </div>
<app-footer></app-footer>

</body>
</html>