<app-header></app-header>
<div class="container">
    <img [src]="drinks.imagePath" [alt]="drinks.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{drinks.name}}
            </span>
            <span class="favorite {{drinks.favorite? '':'not'}}">❤</span>
            <br><br>

            <div class="tags">
                <a *ngFor="let tag of drinks.tags" routerLink="/tag/{{tag}}">{{tag}}</a>
               </div>
            <br>
            <div class="calorieCount" style="font-weight: bold;">
                🔍🔍        {{drinks.calorieAmount}}
            </div><br>
            <div class="ingredients">
                <h3>Ingredients :</h3>

                <ul>
                    <li *ngFor="let ingredient of drinks.ingredients">{{ingredient}}</li>
    
                </ul>
            </div>
            
            <h3>Directions :</h3>
            <ol>
                <li *ngFor="let direction of drinks.methods">{{direction}}</li>

            </ol>
        </div>
    </div>
</div>

<app-footer></app-footer>