<app-header></app-header>
<br><br><br><br>
<div class="container">
    <img [src]="food.imagePath" [alt]="food.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span *ngIf="food.favorite" class="heart-icon favorite" title="Remove from Favorites">&#10084;</span>
            <span *ngIf="!food.favorite" class="heart-icon favorite" style="color: grey;" title="Favorite this recipe">🖤</span>            <br>
            <app-rating [stars]="food.stars"></app-rating><br><br>
            <div class="tags">
                <a *ngFor="let tag of food.tags" routerLink="/menu/food/tag/{{tag}}">{{tag}}</a>
               </div>
            <br>
            <div class="calorieCount" style="font-weight: bold;">
                🔍🔍        {{food.calorieAmount}}
            </div><br>
            <div class="description">
                <h3>Description :</h3>
                <p>{{food.description}}</p>
            </div>
            <div class="ingredients">
                <h3>Ingredients :</h3>

                <ul>
                    <li *ngFor="let ingredient of food.ingredients">{{ingredient}}</li>
    
                </ul>
            </div>
            
            <h3>Directions :</h3>
            <ol>
                <li *ngFor="let direction of food.methods">{{direction}}</li>

            </ol>
        </div>
    </div>
</div>


<comments currentUserId="2"></comments>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<app-footer></app-footer>