<header>
    <div class="container">
        <a routerLink="/home" class="logo">
            <img src="../../../../assets/WhatsApp Image 2023-08-09 at 16.56.26.jpeg" alt="wattoruwa" style="height: 60px; border-radius: 20px;">
        </a>
        <nav>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li class="dropdown">
                    <a routerLink="/menu">Food and Recipes</a>
                    <ul id="submenu" class="dropdown-content">
                        
                        <li><a routerLink="/menu/food"><b>Food</b></a></li>
                        <li><a routerLink="/menu/desserts"><b>Desserts</b></a></li>
                        <li><a routerLink="/menu/drinks"><b>Drinks</b></a></li>
                    </ul>
                </li>
                <li><a routerLink="/calculator">Calorie Calculator</a></li>
                <li><a routerLink="/signup" class="btn">Sign up</a></li>
                <li><a routerLink="/login" class="btn">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>
