*{
  box-sizing: border-box;
  margin: 0;
}

header{
  margin-top: 0px;
  background-color: #CA813E;
  padding-top:5px;
  padding-bottom: 5px;
  overflow: visible;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
 
}

.logo img{
  width: 100px;
  height: 60px;
  border-radius:5px;
}
a{
  color:white;
  text-decoration: none;
  margin: 0 20px;
}
/*   p:not(.element4) */
a:hover:not(.logo){
  color: black;
  padding:15px 10px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style-type: none ;
  margin: 0;
}
ul a{
  padding: 1rem;
  display: inline-block;
}
#submenu{
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 1000;
  background-color: white;
}
.dropdown:hover #submenu {
  opacity: 1;
  visibility: visible;
  z-index: 1001;
}
#submenu li{
  float: none;
  background-color: #FFFFE0;
}
#submenu a {
  padding: 10px 20px; /* Adjust padding as needed */
  display: block;
  color: black; /* Adjust the text color */
  text-decoration: none;
}
#submenu a:hover {
  background-color: #CA813E; /* Change the background color on hover */
  color: white; /* Change the text color on hover */
  font-weight: bold;
}
