
.row
{
        background-color: brown; /* Change this to your desired background color */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin:2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
}

.center
{   margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Add this to your existing CSS */

.custom-col {
    flex: 1; /* This makes the column expand to fill available space */
    max-width: 400px; /* Adjust the value to control the maximum width */
    min-width: 250px;
}
